@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.contenedor-imagenes, .pie-pagina .grupo-1 .box figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgba(132, 132, 132, 0.3);
  font-family: "muli", sans-serif;
}

header {
  background-image: radial-gradient(#ffffff, rgba(132, 132, 132, 0.3));
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid: template rows 140px 400px 200px;
}

/*Logo y Nav Todos*/
.rounded-start {
  margin: auto;
  height: 60px;
}

/*Index*/
.logo {
  height: 200%;
  width: 100%;
}

.carousel {
  display: flex;
  width: auto;
  height: auto;
}

.h21 {
  height: 80px;
  background-image: linear-gradient(rgba(132, 132, 132, 0.3), #ffffff);
  color: #848484;
  text-align: center;
  margin-top: 10px;
}

.contenedor-imagenes {
  width: 90%;
  height: auto;
  margin: auto;
}

.contenedor-imagenes .img-fluid {
  width: 200px;
  height: 400px;
  object-fit: cover;
  margin: 2%;
  transition: all 1s;
}

.contenedor-index .form-control {
  width: 50px;
  height: 50px;
  padding: 2px 200px 30px;
  margin: 30px 750px;
  font-size: 20px;
}

.h22 {
  height: 80px;
  text-align: center;
  justify-items: center;
  margin-top: 1%;
  font-size: 25px;
  background-image: linear-gradient(rgba(132, 132, 132, 0.3), #ffffff);
  color: #848484;
}

.p1 {
  height: 30px;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  background: rgba(132, 132, 132, 0.3);
  color: #848484;
}

.form-control {
  width: 50px;
  height: 40px;
  margin: 20px 30px 50px;
  padding: 10px 150px 10px;
}

.contenedor-barras {
  display: grid;
  text-align: center;
  padding-left: 35%;
  padding-right: 35%;
  margin: 1%;
}

/*IniciarSesion*/
.formulario {
  margin: auto;
  width: 500px;
  margin-top: 150px;
  margin-bottom: 100px;
  border-radius: 2%;
  background: rgba(132, 132, 132, 0.3);
  margin-top: 150px;
  padding: 30px 20px;
  color: white box-shadow 7px 13px 37px #000;
}

h3 {
  text-align: center;
  font-size: 40px;
}

.contenedor {
  width: 100%;
  padding: 25px 100px;
}

.input-contenedor {
  margin-bottom: 12%;
  border: 1px solid;
}

input[type="texto"],
input[type="passwordo"] {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  border: none;
}

.button {
  border: none;
  width: 100%;
  font-size: 20px;
  background: #1f53c5;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: cadetblue;
}

p {
  text-align: center;
}

.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

.link:hover {
  color: white;
}

/*Crear Cuenta*/
.crearcuenta {
  font-size: 40px;
  text-align: center;
  color: black;
  background-image: linear-gradient(rgba(132, 132, 132, 0.3), #ffffff);
  padding: 20px;
}

.parrafo1 {
  font-size: 30px;
  color: black;
  padding: 10px;
  text-align: center;
}

.form-register {
  width: 400px;
  background: rgba(132, 132, 132, 0.3);
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000;
}

.form-register .form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-size: 18px;
  color: black;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #0489B1;
  border: none;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
}

/*Catalogo*/
.card-group {
  align-items: center;
}

.card-group .card {
  align-items: center;
  height: 50%;
  width: 50%;
}

.card-group .card img {
  align-items: center;
  height: 50%;
  width: 50%;
}

.card-title {
  color: #848484;
}

.card-text {
  color: #848484;
}

.prod {
  font-size: 50px;
  padding: 30px;
  text-align: center;
  color: #848484;
}

.cate {
  text-align: center;
  padding: 30px;
  font-size: 30px;
  background: rgba(132, 132, 132, 0.3);
}

.accesos {
  flex-direction: column;
  font-size: 20px;
  padding: 100px;
  margin: 100px;
  background-image: linear-gradient(rgba(132, 132, 132, 0.3), #ffffff);
}

/*Contacto*/
.izquierda {
  width: 300px;
  height: auto;
  overflow: hidden;
  border: 0px solid;
  float: left;
  background: rgba(132, 132, 132, 0.3);
  margin: auto;
}

.texto-contacto {
  text-align: center;
}

.email-contacto {
  color: #848484;
  text-decoration: none;
}

.email-contacto .email-contacto:hover {
  text-decoration: underline;
}

.derecha {
  width: 490px;
  border: 0px solid;
  height: auto;
  overflow: hidden;
  float: right;
  background: rgba(132, 132, 132, 0.3);
  margin: auto;
}

input[type="text"], input[type="email"] {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background: white;
}

textarea {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background: white;
}

.nombre-mensaje {
  width: 95%;
  color: #24303c;
}

.email-asunto {
  width: 45%;
}

input[type="submit"] {
  padding: 10px;
  background: #0489B1;
  color: #fff;
  border: 1px solid #086A87;
  border-radius: 5px;
}

.mapa {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: auto;
  margin: auto;
}

/*Footer Todos*/
.pie-pagina {
  width: 100%;
  background-color: rgba(132, 132, 132, 0.3);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  background-color: #848484;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: black;
}

.pie-pagina .grupo-2 {
  background-color: #848484;
  padding: 15px 10px;
  text-align: center;
}

.pie-pagina .grupo-2 .pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
