    /*Contacto*/
    .izquierda{
        width: 300px;
        height: auto; overflow: hidden;
        border: 0px solid;
        float:left;
        background: $colorsecundario;
        margin: auto;
        }
        .texto-contacto{
        text-align: center;
        }
        .email-contacto{
        color: #848484;
        text-decoration: none;
        }
        .email-contacto:hover{
        text-decoration: underline;
        }
        .derecha{
        width: 490px;
        border: 0px solid;
        height: auto; overflow: hidden;
        float: right;
        background: $colorsecundario;
        margin: auto;
        }
        input[type="text"], input[type="email"]{
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        background: white;
        }
        textarea{
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
        background: white;
        }
        .nombre-mensaje{
        width: 95%;
        color: #24303c;
        }
        .email-asunto{
        width: 45%;
        }
        input[type="submit"]{
        padding: 10px;
        background: #0489B1;
        color: #fff;
        border: 1px solid #086A87;
        border-radius: 5px;
        }
        .mapa{
        width: 100%;
        height: auto; overflow: hidden;
        padding: auto;
        margin: auto;
        }