    /*Index*/
    .logo{
        height: 200%;
        width: 100%;
        }
        .carousel{
            display: flex;
            width: auto;
            height: auto;
        }
        .h21{
        height: 80px;
        background-image: linear-gradient($colorsecundario, $colorprincipal);
        color: map-get($colores , letras );
        text-align: center;
        margin-top: 10px;
        }
        .contenedor-imagenes{
            @extend %flexrow;
            width: 90%;
            height: auto;
            margin: auto;
        }
        .contenedor-imagenes .img-fluid{
            width: 200px;
            height: 400px;
            object-fit: cover;
            margin: 2%;
            transition: all 1s;
        }
        .contenedor-index .form-control{
        width: 50px;
        height: 50px;
        padding: 2px 200px 30px;
        margin: 30px 750px;
        font-size: 20px;
        }
        .h22{
        height: 80px;
        text-align: center;
        justify-items: center;
        margin-top: 1%;
        font-size: 25px;
        background-image: linear-gradient($colorsecundario, $colorprincipal);
        color: map-get($colores , letras );
        }
        .p1{
        height: 30px;
        text-align: center;
        margin: 10px;
        font-size: 20px;
        background: map-get($colores , secundario );
        color: map-get($colores , letras );
        }
        .form-control{
        width: 50px;
        height: 40px;
        margin: 20px 30px 50px;
        padding: 10px 150px 10px;
        }
        .contenedor-barras{
        display: grid;
        text-align: center;
        padding-left: 35%;
        padding-right: 35%;
        margin: 1%;
        }